
@{
    ViewBag.Title = "Admin Page";
}

<script src="~/Scripts/mjs1.js"></script>
<br />
<br />
<br />
<div class="row">
    
    <div class="col-md-3">
        <ul class="list-group">
            <li class="list-group-item" onclick="nav1('@Url.Action("ChannelingView","Home")')" style="cursor:pointer"><span class="glyphicon glyphicon-edit"></span> Channeling</li>
            <li class="list-group-item" onclick="nav1('@Url.Action("SpecialtyView","Home")')" style="cursor:pointer"><span class="glyphicon glyphicon-edit"></span> Specialty</li>
            <li class="list-group-item" onclick="nav1('@Url.Action("SickView","Home")')" style="cursor:pointer"><span class="glyphicon glyphicon-edit"></span> Diseases</li>
            <li class="list-group-item" onclick="nav1('@Url.Action("DoctorView","Home")')" style="cursor:pointer"><span class="glyphicon glyphicon-edit"></span> Doctor</li>
            <li class="list-group-item" onclick="nav1('@Url.Action("WorkDayView","Home")')" style="cursor:pointer"><span class="glyphicon glyphicon-edit"></span> Work Days</li>
        </ul>
    </div>
    <div class="col-md-9" id="adminview1">

    </div>
</div>